*{
   margin: 0;
   padding: 0;
 }

section{
  width: 100%;
  max-width: none;
  height: 100vh;
}

.backToTopBtn{
  position: fixed;
  width: 50px;
  top: 95%;
  right: 2%;
}

.intro{
  background-image: linear-gradient(135deg, #3171b4 , #c4e9ed);
}

.introText>h1{
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  animation: textFadeIn 2s;
  animation-fill-mode: forwards;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 7em;
  color: #ff4d4d;
  letter-spacing: 15px;
}

.subtitle{
  position: absolute;
  text-align: center;
  font-size: 1em;
  left: 50%;
  top: 40%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  animation: subFadeIn 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.subtitle p{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  color: #ff4d4d;
}

.subtitle p:nth-last-of-type(1){
  font-size: 1em;
}

.skipContents{
  position: absolute;
  font-family: 'Raleway', sans-serif;
  color: #ff4d4d;
  text-align: center;
  font-size: 1.2em;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: skipSection 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

}

.scrollIcon {
  position: absolute;
  left:47.395833%;
  bottom:0;
  height:8%;
  animation: scrollIcon 1.5s infinite;
}

.button{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  display: inline-block;
  border-radius: 8px;
  border: 2px;
  border-style: solid;
  border-color: #ff4d4d;
  background-color: Transparent;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  margin-top: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover{
  border-color: white;
  background-color: #ff4d4d;
  color: white;
}

.titleText{
  position: absolute;
  top: 105%;
  left: 5%;
  font-size: 3em;
  font-weight: 500;
}

.aboutSection{
  font-family: 'Raleway', sans-serif;
  height: 70vh;
  background-color: white;
  color: #77ad81;
}

.seperator{
  position: absolute;
  top: 112%;
  border: solid 2px #ff4d4d;
  height: 0;
  width: 65%;
  left: 5%;
}

.aboutContainer{
  position: absolute;
  font-size: 1.2em;
  width: 60%;
  top: 115%;
  left: 5%;
  color: #65717a;
}

.aboutContainer>h1{
  font-size: 1.2em;
  font-weight: 500;
  color: #77ad81;
}

.aboutContainer>p:last-child{

}

.journalSection{
  font-family: 'Raleway', sans-serif;
  background-color: #65717a;
}

#about{
  position: absolute;
  top: 100%;
  border: dashed 3px grey;
  height: 0;
  width: 99.4%;
  left: 0;
}
#about2{
  position: absolute;
  top: 169.4vh;
  border: dashed 3px grey;
  height: 0;
  width: 99.4%;
  left: 0;
}

#devsep{
  top: 45%;
  height: 0;
  width: 25%;
  left: 0;
}

 @keyframes scrollIcon{
  0% {
    bottom:0px;
  }
  50%{
    bottom:20px;
  }
}

@keyframes textFadeIn {
  0% {
    position: absolute;
    top: 25%;
    opacity: 0;
  }
  100% {
    position: absolute;
    top: 30%;
    opacity: 1;
  }
}

@keyframes subFadeIn {
  0% {
    position: absolute;
    top: 40%;
    opacity:0;
  }
  100% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }
}

@keyframes skipSection {
  0% {
    position: absolute;
    top: 70%;
    opacity:0;
  }
  100% {
    position: absolute;
    top: 75%;
    opacity: 1;
  }
}
