* {
   margin: 0;
   padding: 0;
 }

body{
  background-color: white;
}

.introText{
  list-style: none;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
}

.introText ul>li{
  display: inline-block;
  margin-right: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 5em;

}

.introText ul>li:last-child{
  margin-right: 0;
}

.subtitle {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.subtitle p{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
}

.scrollIcon {
  position:fixed;
  left:47.395833%;
  bottom:0;
  height:8%;
  -webkit-animation:scrollIcon 1s infinite;
  -moz-animation:scrollIcon 1s infinite;
  -o-animation:scrollIcon 1s infinite;
  animation:scrollIcon 1s infinite;

}

@-webkit-keyframes scrollIcon {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-moz-keyframes scrollIcon {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-o-keyframes scrollIcon {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @keyframes scrollIcon {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}
