*{
   margin: 0;
   padding: 0;
 }

section{
  width: 100%;
  max-width: none;
  height: 100vh;
}

.backToTopBtn, .menuicon{
  position: fixed;
  width: 50px;
  top: 92%;
  right: 2%;
  border: none;
  background-color: Transparent;
  cursor: pointer;
  border-radius: 85%;
  z-index: 1;
  transition: .4s;
  opacity: 0;
}

.pdfViewer{
  position: relative;
  left: 62%;
  top: 5%;
}

.menuicon{
  top: 40%;
  left: 1%;
}

.menuicon:hover{
  left: 1.5%;
  transition: .4s;
}

.menuButton{
  font-size: 1em;
  display: block;
  width: 90%;
  margin:5%;
  border-radius: 4px;
  border: 2px solid black;
  cursor: pointer;
  padding: 2px 5px;
}

.menu{
  position: fixed;
  bottom: 0;
  width: 12%;
  height: 2.5%;
  background-color: grey;
  z-index: 1;
  transition: .4s ease;
  opacity:0;

}

#menuHead{
  width: 100%;
  margin:0;
  padding:0;
  cursor: pointer;
}

.backToTopBtn:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.introText{
  top: 30%;
  animation: textFadeIn 2s;
  font-weight: 300;
  font-size: 7em;
  letter-spacing: 30px;
  text-indent: 30px;
  animation-fill-mode: forwards;
}

.subtitle{
  text-align: center;
  font-size: 1em;
  top: 40%;
  animation: subFadeIn 2s;
  animation-delay: 0.5s;
  font-weight: 400;
  font-size: 1.2em;
  animation-fill-mode: forwards;
}

.skipContents{
  text-align: center;
  font-size: 1em;
  animation: skipSection 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

}

.scrollIcon {
  left: 47.395833%;
  bottom: 0;
  height: 8%;
  animation: scrollIcon 1.5s infinite;
}

.button{
  font-size: 1em;
  display: inline-block;
  border-radius: 8px;
  border: 2px;
  border-style: solid;
  border-color: #ff4d4d;
  background-color: Transparent;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  transition-duration: .4s;
  cursor: pointer;
  width: 25%;
}

.button:hover{
  border-color: #e6e6e6;
  background-color: #ff4d4d;

}

.titleText{
  top: 105%;
  font-size: 3em;
  font-weight: 500;
}

.aboutSection{
  height: 70vh;
  background-color: #f2f2f2;
}

.seperator{
  top: 112%;
  border: solid 2px #ff4d4d;
  height: 0;
  width: 100%;
}

#aboutSep{
  width: 60%;
}

.aboutContainer{
  width: 60%;
  top: 115%;
  color: #65717a;
}

.aboutContainer>p{
  font-size: 1.2em;
}

.subBox{
  width: 25%;
  top: 200%;
}

.subBox p{
  font-size: 1.2em;
  color: #65717a
}

.subBox>h1, .journalSection>h1{
  font-size: 1.2em;
  font-weight: 500;
}

.journalSection{
  background-color: rgba(245,247,245,0.95);
  width: 100%;
}

.journalSection>h1{
  top: 175%;
  font-size: 3em;
}

.photoContainer{
  height: 90vh;
  width: 60vw;
  right: 0%;
  top: 175%;
}

.journalPhoto{
  transition: .4s;
  z-index: 1;
}

.journalPhoto:hover{
  opacity: 0;
  transition: .4s;
}

.partBSection, .reflectionSection, .otherSection{
  background-color: rgba(245,247,245,0.95);
}

.partASection>h1{
  top: 275%;
}

.partBSection>h1{
  top: 375%;
}

.partCSection>h1{
  top: 485%;
}

.reflectionSection>h1{
  top: 585%;
}

.portfolioSection>h1{
  top: 685%;
}

.partASection>figure, .partASection>figure:nth-of-type(2){
  left:35%;
  top: 305%;
}

.partASection>figure:nth-of-type(2){
  top: 335%;
}

.dash{
  top: 460%;
  left: 25%;
  display: inline-block;
}

.dash .bottomImg{
  display: none;
  top: 0;
  z-index: 99;
}

.dash:hover .bottomImg{
  display: inline;
}

figure{
  font-size: 0.8em;
  font-style: italic;
}

.content{
  background-color: #fefefe;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  color: black;
}

.exit{
  color: #aaa;
  font-size: 35px;
  font-weight: bold;
}

.exit:hover, .exit:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: auto;
  color: red;
}



#contact{
  top: -50%;
  left: 110%;
}

#modal{
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

#week3, #week13, #wip1{
  top: 190%;
  left: 41%;
  width: 14%;
  z-index: 0;
}

#week13{
  left: 59%;
}

#wip1{
  top: 180%;
  left: 77%;
}

#journalphoto2{
  left: 30%;
}

#journalphoto4, #journalphoto5{
  left: 60%;
}

#journalphoto5{
  top: 50%;
}

#journal1Text{
  left: 1.1%;
  width: 25.25%;
  height: 25%;
}

#about, #about2{
  top: 100%;
  border: dashed 3px #005c99;
  height: 0;
  width: 99.4%;
}

#about2{
  top: 169.4vh;
  border: dashed 3px grey;
}

#devSep, #designSep, #othersSep{
  top: 240%;
  height: 0;
  width: 25%;
  left: 20%;
}

#devBox{
  left: 20%;
}

#designBox, #designSep{
  left: 60%;
}

#othersBox, #othersSep{
  left: 100%;
}

#journalBox{
  width: 25%;
  top: 185%;
}

#journalSep1{
  top: 182%;
  width: 25%;
}

#partAWork{
  top: 300%;
}

#partAProc{
  top: 315%;
}

#PartAContainer{
  top: 285%;
}

#partASep{
  left: 5%;
  top: 282%;
}

#partAMyWorkSep{
  top: 25%;
  left: 0%;
}

#partAMyProcSep{
  top: 5.5%;
  left: 0%;
}

#partBWork{
  top: 400%;
}

#PartBContainer{
  top: 385%;
}

#partBSep{
  top: 382%;
}

#partBWorkSep{
  top: 10%;
}

#partBJS{
  top: 400%;
}

#partBJSSep{
  top: 12.5%;
}

#partBYear{
  top: 400%;
}

#partBYearSep{
  top: 6%;
}

#modalButton{
  width: 10%;
  position: relative;
  top: 50%;
  left: 40%;
  color: black;
}

#partBDash{
  top: 435%;
}

#partBDashSep{
  top: 15%;
}

#partBTag{
  height: 110vh;
}

#partBReport{
  top: 435%;
}

#partBReportSep{
  top: 15%;
}

#partCSep, #partCContainer{
  top: 492%;
}

#partCWork, #partCReport{
  top: 507%;
}

#partCWorkSep{
  top: 12%;
}

#partCReportSep{
  top: 6.5%;
}

#partCBug{
  top: 507%;
}

#partCBugSep{
  top: 9%;
}

#partCPitch{
  top: 535%;
}

#partCPitchSep{
  top: 10%;
}

#partCOther{
  top: 542%;
}

#partCOtherSep{
  top: 18%;
}

#reflectionSep{
  top: 592%;
}

#reflectionContainer{
  top: 592%;
}

#reflectionA{
  top: 605%;
}

#reflectionASep{
  top: 6%;
}

#reflectionB{
  top: 605%;
}

#reflectionBSep{
  top: 7%;
}

#reflectionC{
  top: 650%;
}

#reflectionCSep{
  top: 12%;
}

#reflectionOverall{
  top: 605%;
}

#reflectionOverallSep{
  top: 6%;
}

#reflectionFeedback{
  top: 655%;
}

#reflectionFeedbackSep{
  top: 12%;
}

#portfolioSep{
  top: 692%;
}

#portfolioContainer{
  top: 692%;
}

#portfolioDesign{
  top: 705%;
}

#portfolioDesignSep{
  top: 5%;
}

#portfolioLayout{
  top: 705%;
}

#portfolioLayoutSep{
  top: 12%;
}

#ple{
  position: relative;
  top: 52%;
}

#portfolioFunc{
  top: 705%;
}

#portfolioFuncSep{
  top: 9%;
}

#portfolioFinal{
  top: 740%;
}

#portfolioFinalSep{
  top: 12%;
}

 @keyframes scrollIcon{
  0% {
    bottom:0px;
  }
  50%{
    bottom:20px;
  }
}

@keyframes textFadeIn {
  0% {
    position: absolute;
    top: 25%;
    opacity: 0;
  }
  100% {
    position: absolute;
    top: 30%;
    opacity: 1;
  }
}

@keyframes subFadeIn{
  0% {
    position: absolute;
    top: 40%;
    opacity:0;
  }
  100% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }
}

@keyframes skipSection {
  0% {
    position: absolute;
    top: 70%;
    opacity:0;
  }
  100% {
    position: absolute;
    top: 75%;
    opacity: 1;
  }
}

.intro{
  background-image: -webkit-linear-gradient(150deg, #005c99 35%, #006bb3 35%);
  width: 100%;
}

.introText, .titleText, .aboutSection h1, .subBox>h1, .journalSection>h1{
  font-family: 'Raleway', sans-serif;
}

.introText, .subtitle, .skipContents, .scrollIcon, .titleText, .seperator, .aboutContainer, .subBox, .journalSection>h1, .photoContainer, .journalPhoto, .partASection>figure, .partASection>figure:nth-of-type(2), .dash, .dash .bottomImg, #contact, #about, #about2, #journalSep2{
  position: absolute;
}

.subtitle, .skipContents, .button, .subBox p, .aboutContainer>p, .photoContainer, figure, .menuButton{
  font-family: 'Lato', sans-serif;
}

.introText, .subtitle, .skipContents{
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  color: #e6e6e6;
  left: 50%;
}

.button, .button:hover{
  color: #e6e6e6;
}

.titleText, .seperator, .titleText, .aboutContainer, .journalSection>h1, .subBox{
  left: 5%;
}

.subBox>h1, .journalSection>h1, .titleText, .aboutSection{
  color: #77ad81;
}


#partBJS, #partBReport, #partCReport, #reflectionB, #reflectionC, #portfolioLayout, #ple{
  left: 35%;
}

#partBYear, #partCBug, #partCOther, #reflectionOverall, #reflectionFeedback, #portfolioFunc, #portfolioFinal{
  left: 65%;
}

#about, #about2, #partBWorkSep, #partBJSSep, #partBYearSep, #partBDashSep, #partBReportSep, #partCWorkSep, #partCReportSep, #partCBugSep, #partCPitchSep, #partCOtherSep, #reflectionASep, #reflectionBSep, #reflectionCSep, #reflectionOverallSep, #reflectionFeedbackSep, #portfolioDesignSep, #portfolioLayoutSep, #portfolioFuncSep, #portfolioFinalSep, .dash .bottomImg, #modal, #about, #about2{
  left: 0;
}

#PartAContainer, #partASep, #PartBContainer, #partBSep, #partCSep, #partCContainer, #reflectionSep, #reflectionContainer, #portfolioSep, #portfolioContainer{
  width: 40%;
}
